@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);

body {
    font-family: 'Josefin Slab', serif;
    background-image: asset-url('bg.png');
}
.navbar-brand {
    background-image: asset-url('favicon.ico');
}
.navbar {
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    box-shadow: 1px 1px 2px #888888;
    background: cornsilk;
    color: black;
}
.css-typing
{
    width: 30em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

.img-circle {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.sidebar-wrapper {
    .sidebar-nav {
        width: 100px;
        height: 100%;
        -webkit-transition: all 2s;
        transition: all 0.5s;
    }
    .img-circle:hover{
        box-shadow: 1px 1px 5px #888888;
    }
}

.item {
    margin-bottom: 10px;
}

.img-circle + .tooltip > .tooltip-inner {
    background-color: red;
    padding-left: 0px;
    opacity: 0.5;
}
.img-circle + .tooltip > .tooltip-arrow {
    border-right-color: red;
    opacity: 0.5;
}
